<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="system-menu" label="System">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Gnome Control Center">
			<action name="Execute">
				<command>gnome-control-center</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="KDE Control Center">
			<action name="Execute">
				<command>kcontrol</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Xfce Settings">
			<action name="Execute">
				<command>xfce-setting-show</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Manage Cups Printers">
			<action name="Execute">
				<command>xdg-open http://localhost:631/</command>
				<startupnotify>
					<enabled>no</enabled>
					<icon>cups</icon>
				</startupnotify>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<item label="xterm">
			<action name="Execute">
				<execute>xterm</execute>
			</action>
		</item>
		<separator/>
		<item label="Skype">
			<action name="Execute">
				<execute>skype</execute>
			</action>
		</item>
		<item label="Pavucontrol">
			<action name="Execute">
				<execute>pavucontrol</execute>
			</action>
		</item>
		<separator/>
		<menu id="system-menu"/>
		<item label="Log Out">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
