**/.swp
**/.pyc
**/.hi
**/.o
**/.zcache
**/.zcompdump
**/todo.txt

00-UNTRACKED/

vim/.vim/.netrwhist
vim/.vim/backup/*
vim/.vim/swap/*

xmonad/.xmonad/*
!xmonad/.xmonad/xmonad.hs
!xmonad/.xmonad/lib/DynamicTopic.hs

mutt/.config/mutt/*
!mutt/.config/mutt/00-colors
!mutt/.config/mutt/00-keybindings
!mutt/.config/mutt/mailcap
!mutt/.config/mutt/muttrc
