[Unit]
Description=Bittorrent Sync Daemon

[Service]
PIDFile=%t/btsync.pid
ExecStart=/usr/bin/btsync --config %h/.config/btsync/btsync.conf --nodaemon
Restart=on-abort

[Install]
WantedBy=default.target
