[Unit]
Description=PulseAudio Server
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/pulseaudio --start
ExecStop=/usr/bin/pulseaudio --kill

BusName=org.pulseaudio.Server
Restart=on-failure

[Install]
WantedBy=me.target
