[Unit]
Description=PulseAudio Sound System
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/pulseaudio
ExecStop=/usr/bin/pulseaudio --kill

BusName=org.pulseaudio.Server
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=user.target
