snippet skel "HTML5 Template"
<!DOCTYPE html>
<html>
<head>
    <title>${1}</title>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        ${2}
    </header>
    <footer>
        ${4}
    </footer>
</body>
</html>
endsnippet


snippet css "Link to CSS file"
<link rel="stylesheet" href="${1}">
endsnippet
