###########################################################################
#                            Personal Snippets                            #
###########################################################################
snippet header
---
layout: post
title: $1
categories:
- $2
---

$3
endsnippet
